<!-------------------------------------------------------------------------------------------------------
    ANOTACIONES PRLIMINARES:

--------------------------------------------------------------------------------------------------------->


@{
    ViewBag.Title = "Transf.DatosPC a Móvil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .swal2-container {
        z-index: 2000;
    }
</style>
<!--==============================================================================
         ENCABEZADO DEL SWITCH PARA EL MOVIL CONECTADO DESCONECTADO                         
==================================================================================-->

    <div class="x_panel">
        <div >  
                <div class="row">                    
                    <div class="col-md-1 col-sm-1 col-xs-1" style="left:20px;top:4px;">
                        <div class="flex-end-form-switcher">
                            <div id="switch_activoinactivo">
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-4 col-sm-4 col-xs-12" id="txt_conectado_desconectado">
                       
                    </div>
                </div>        

        </div> 
    </div>


    <!-- PANEL DE MENUS -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcrumb">
                <a class="breadcrumb__step breadcrumb__step--active" style="width:300px;" href="#" id="PadreMenu_txt">Nombre de Mantenimiento</a>
                <a class="breadcrumb__step" href="#" id="HijoMenu_txt"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_title">
                    <div class="d-flex ">
                        <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12">
                            <h2 id="txt_titulo_tabla">De Base de Datos al Terminal Móvil</h2>
                        </div>

                        <div class="d-inline-block" style="left:30%;">
                            <div class="col-lg-3 col-md-1 col-sm-1 ">
                                <input type="button" id="btn-verificar-android-conectado"  class="btn btn-success" value="Iniciar Transferencia" style="width:100%">
                            </div>

                            <div class="col-lg-3 col-md-1 col-sm-1 ">
                                <input type="button" id="btn-save-masivo" class="btn btn-primary" value="Cancelar" style="width:80%">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>                    
                </div>

                <!---->
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div id="progresLoader" class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
                            </div>
                        </div>
                        <div @*class="col-md-8 col-sm-8 col-xs-12"*@>
                            <textarea id="message" style="min-height:150px;" class="form-control" name="message"></textarea>
                        </div>

                    </div>

                    <br />
                    <div>
                        <p>Total de Registros Transferidos: <span id="num-excels-generados" style="color:blue">--/--</span></p>
                    </div>
                    @*<div class="row" style="text-align:right;">
                            <div style="text-align:left;" class="col-md-6 col-sm-6 col-xs-6">
                                <p> Tiempo Transcurrido: <span id="tiempo" style="color:blue">--:--:--</span></p>
                            </div>
                        </div>*@
                </div>

                <br />
                <div id='my_file_output'></div>
            </div>

        </div>
    </div>
    <!-- SCRIPT JS INDEPENDIENTE, SOLO PARA ESTE MANTENIMIENTO -->




<script></script>
@*<link href="~/Content/app.css" rel="stylesheet" />
<script src="~/Scripts/app.js"></script>*@


<!--*************************************************************************************************+-->

<script src="~/Scripts/util/SAF_TransfDePCaMóvil.js"></script>