<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>

    <!-- CONECCION LOCAL DESDE LA PC -->
    <add name="cn"  connectionString="Data Source=DESKTOP-0H9M62B\SQLEXPRESSHEBERT;Initial Catalog=BD_PETSHOP_WEB_2022;User ID=sa; password=sql; "/>

  </connectionStrings>

  <!--https://stackoverflow.com/questions/18223385/changing-maxjsonlength-property-in-web-config-has-no-effec-->

  <appSettings>

    <add key="nomsoft" value="PetshopWeb" /> 
    <!-- Ligado a :
    TSP_DASHBOARD_CABECERAS_Q00 
    TSP_DASHBOARD_GRAFICA_TBBIENES_Q00 
    TSP_DASHBOARD_TIPOBIENES_Q00
    -->
    <add key="textoConfig" value="Este Sistema online está diseñado acorde a las necesidades del mercado y que permite gestionar ventas y productos.| Es de fácil uso e implementación y es compatible con diversos equipos de identificación biomética." />
    <!--<add key="pieConfig" value="Web site: www.miniasoft.com | desarrolllo@miniasoft.com" />-->
    <add key="pieConfig" value="Web site: www.gonzales.com | gonzales.hebert@miniasoft.com" />
    <!--<add key="webversion" value="Miniasoft v.1.1.1.050928" />-->

      
      <!--************************************************************************************************ VERSION *******-->
      <add key="webversion" value="MiniaSoft V.1.1.270322" />

     
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="tiempoespera" value="5" />
    <add key="rutaLog" value="C:/Temp/Logs/InventarioWeb" />
    <add key="rutaPapeletas" value="/DirPapeletaRuta/" />    
    <add key="rutaMasivoExcel" value="/DirImportacionExcel/" />        
    <add key="rutaFormatos" value="/formatos/" /> <!--CARPETA FORMATOS Mant. Configuracion-->      
    <add key="rutaFotoEmpleado" value="/DirEmpleadosRuta/" />
    <add key="rutaImgUO" value="/DirLogosRuta/" />
    <add key="rutaImages" value="/images/" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <!--Tiempo habilitado para Toma de Consumos(en Segundos) - Primera vez:-->
    <add key="TiempoCierreConsumo" value="150" />    
    <!--Tiempo habilitado para Toma de Consumos(en Segundos) - Primera vez:-->
    <add key="TiempoCierreConsumoAfter" value="60" />


    <!--//HGM_AÑADIDO_19.08.2021_15:41:30-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--<add key="rutaLog" value="C:/Temp/Logs/InventarioWeb" />-->
    <!--SisfoodService-->
    <add key="RutaArchivos" value="C:\inetpub\wwwroot\siscopweb\WebSite\Fotos_Marca\" />
    <add key="RutaFotoPermiso" value="C:\inetpub\wwwroot\siscopweb\WebSite\Fotos_Permiso\" />
    <!--    <add key="RutaMasivoEmpleado" value="C:\Proyectos\Hebert\19.03.2021_1512\Sln_CBX_Web_SISFOOD_\CBX_Web_PetShopWeb\DirMasivoEmpleado\" />-->
    <add key="PuertoPrinter" value="7060" />
    <add key="IPPrinter" value="192.168.1.192" />
    <!-- <add key="wsVersion" value=" 1.1.1.110222.WS" /> -->
    <add key="timeSQL" value="2500" />
    
  
  </appSettings>   

  <!--<configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>-->    
  
  <!--<system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
    <authentication mode="None"/>
    
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>-->


  <system.web>
   
    <customErrors mode="Off" />
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="404.html" />
    </customErrors>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
    <globalization fileEncoding="utf-8" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  
  <system.webServer>

    <!-- SOLUCION PARA QUE PERMITA IMPORTAR EXCEL PESADOS MAS DE 4MB(39 registros) HGM 22.07.2021 -->
    <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
 
        
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" responseMode="File" />
    </httpErrors>
    
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
  
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>  
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConfiguracionSrv" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_ISistemaSrv" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IOrganizacionSrv" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IAsistenciaSrv" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IPersonalSrv" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IProcesoSrv" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IReportesSrv" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISeguridadSrv" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPackingSrv" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:35578/ProcesoSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcesoSrv" contract="swProceso.IProcesoSrv" name="BasicHttpBinding_IProcesoSrv" />
      <endpoint address="http://localhost:35578/ReportesSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportesSrv" contract="swReportes.IReportesSrv" name="BasicHttpBinding_IReportesSrv" />
      <endpoint address="http://localhost:35578/PackingSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackingSrv" contract="wsPacking.IPackingSrv" name="BasicHttpBinding_IPackingSrv" />
      <endpoint address="http://localhost:35578/PersonalSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonalSrv" contract="wsPersona.IPersonalSrv" name="BasicHttpBinding_IPersonalSrv" />
      <endpoint address="http://localhost:35578/AsistenciaSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsistenciaSrv" contract="wsAsistencia.IAsistenciaSrv" name="BasicHttpBinding_IAsistenciaSrv" />
      <endpoint address="http://localhost:35578/ConfiguracionSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfiguracionSrv" contract="wsConfiguracion.IConfiguracionSrv" name="BasicHttpBinding_IConfiguracionSrv" />
      <endpoint address="http://localhost:35578/SeguridadSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadSrv" contract="wsSeguridad.ISeguridadSrv" name="BasicHttpBinding_ISeguridadSrv" />
      <endpoint address="http://localhost:35578/OrganizacionSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrganizacionSrv" contract="wsOrganizacion.IOrganizacionSrv" name="BasicHttpBinding_IOrganizacionSrv" />
      <endpoint address="http://localhost:35578/SistemaSrv.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISistemaSrv" contract="wsSistema.ISistemaSrv" name="BasicHttpBinding_ISistemaSrv" />
    </client>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
</configuration>
