
@{
    ViewBag.Title = "Importación Masiva Excel";
}


<style type="text/css">

    .swal2-container {
        z-index: 2000;
    }

    .heartbeat {
        position: absolute;
        display: none;
        margin: 5px;
        color: red;
        right: 0;
        top: 0;
    }
</style>

@*<span style="color:red; width:7px; height:7px; ">s</span>*@


<div class="heartbeat">&hearts;</div>

<!--==============================================================================
                          MODAL LISTAR CHECKBOS TABLAS
==================================================================================-->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="x_title">
                <h1>Limpiar Tablas</h1>

                <ul class="nav navbar-right panel_toolbox">
                   
                    <li>
                        <input type="button" data-toggle="modal" href="#myModal2" class="btn btn-primary" onclick="LimpiarTablas()" value="LIMPIAR">
                    </li>
                    <li>
                        <input type="button" href="#" data-dismiss="modal" class="btn btn-dark" value="CERRAR" id="cerrar_modal">
                    </li>
                </ul>
                <label class="form-check-label" style="color: red;">(*) Al limpiar una tabla con dependencias, estas también se seleccionarán.</label>

                <div class="clearfix"></div>
            </div>
            <div class="modal-body">


                <div role="tabpanel" id="" class="tab-pane active">
                    <div class="p-2">

                        <div class="mb-3">
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" id="chck_btodos" class="flatpadre iradio_flat-blue">
                                <label class="form-check-label">Seleccionar Todos</label>
                            </div>
                        </div>
      

                        <div>
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkEntidad">
                                <label class="form-check-label">Entidad</label>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkLocal">
                                <label class="form-check-label">Local</label>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkArea">
                                <label class="form-check-label">Area</label>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkOficina">
                                <label class="form-check-label">Oficina</label>
                            </div>
                        </div>

                        <div class="mt-4 d-flex flex-wrap">
                           
                            <div>
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkEmpleado">
                                    <label class="form-check-label">Empleado</label>
                                </div>
                            </div>
                            <div>
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkEstado">
                                    <label class="form-check-label">Estado</label>
                                </div>
                            </div>
                            <div>
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkTipo">
                                    <label class="form-check-label">Tipo</label>
                                </div>
                            </div>
                            <div >
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkBienes">
                                    <label class="form-check-label">Bienes</label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <!--INICIO PANEL-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">          

                <div class="row">       
                    <div class="x_panel">

                        <!--TEXTAREA-->
                        <div class="control-label col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Esta opción importará los excel a la base de datos SQL</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input btn btn-default" id="excelMasivo" lang="es"
                                       style="width: 100%;"
                                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @*webkitdirectory mozdirectory msdirectory odirectory directory*@ multiple />
                                <!-- https://stackoverflow.com/questions/11832930/html-input-file-accept-attribute-file-type-csv -->
                                @*<input type="file" accept=".csv" />
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                <input type="file" accept="application/vnd.ms-excel" />*@

                                <label class="custom-file-label" for="customFileLang"></label>
                                @*<input type="file" id="FileUpload" onchange="selectFolder(event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" webkitdirectory mozdirectory msdirectory odirectory directory multiple
                                *@
                            </div>
                        </div>

                        <!-- CHECK LIMPIAR CARGAR -->
                        <div class="control-label col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check " style="padding-left:100px;">
                                <input type="checkbox" class="iradio_flat-blue" id="checkLimpiarCargar" disabled>
                                  <label class="form-check-label">Limpiar y Cargar</label>
                            </div>
                        </div>

                        <!-- BOTON MODAL LIMPIAR -->
                        <div class="control-label col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label"  style="padding-left:60px;">&nbsp;</label>
                            <div class="form-check">
                                <input type="button" id="boton_limpar_manualmente" data-toggle="modal" href="#myModal" class="btn btn-primary " value=" LIMPIAR MANUALMENTE ">
                            </div>
                        </div>

                    </div>

               
                    <!-- DESCARGAR PLANTILLAS EXCEL PARA IMPORTAR -->
                    <div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            Descargar Plantillas
                                <span style="width:7px; height:7px; " id="mantenerSessionActiva"></span>:
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBENTIDAD.xlsx" onclick="return descargarPlantillaExcel();">TBENTIDAD,</a>
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBLOCAL.xlsx" onclick="return descargarPlantillaExcel();">TBLOCAL,</a>
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBAREAS.xlsx" onclick="return descargarPlantillaExcel();">TBAREAS,</a>
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBOFICINA.xlsx" onclick="return descargarPlantillaExcel();">TBOFICINA,</a>
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBEMPLEADO.xlsx" onclick="return descargarPlantillaExcel();">TBEMPLEADO,</a>
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBESTADO.xlsx" onclick="return descargarPlantillaExcel();">TBESTADO,</a>
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBTIPO.xlsx" onclick="return descargarPlantillaExcel();">TBTIPO</a>,
                                <a style="color:blue" href="~/Plantillas/Importar Excel/TBBIENES.xlsx" onclick="return descargarPlantillaExcel();">TBBIENES.</a>
</div>
                    </div>
               


            </div>
        </div>
    </div>

    <!-- PANEL DE MENUS -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcrumb">
                <a class="breadcrumb__step breadcrumb__step--active" href="#" id="PadreMenu_txt">Proceso</a>
                <a class="breadcrumb__step" href="#" id="HijoMenu_txt"></a>
            </div>
        </div>
    </div>


    <div class="row">
        <!-- PANEL TABLA -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12">
                        <h2 id="txt_titulo_tabla">Datos importados</h2>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12" hidden>
                        <button type="button" class="btn btn-round btn-block dropdown-toggle" id="columnHida" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        Columnas

                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                        <input type="button" id="btn-import-masivo" class="btn btn-success" value="Iniciar Importación" style="width:180px" disabled>
                    </div>
                       <div class="clearfix"></div>
                </div>

                <!--Area para mostrar los Excels que se esta Guardando-->
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div id="progresLoader" class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <textarea id="message" style="min-height:250px;" class="form-control" name="message"></textarea>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center text-success flex-error" style="height: 150px">
                            <i class="fa fa-file-excel-o" aria-hidden="true" style="font-size: 10em;"></i>
                        </div>
                    </div>

                    <br />
                    <div>
                        <p> Excel Importados: <span id="procesados" style="color:blue">--/--</span></p>
                    </div>
                    <div class="row" style="text-align:right;">
                        <div style="text-align:left;" class="col-md-6 col-sm-6 col-xs-6">
                            <p> Tiempo Transcurrido: <span id="tiempo" style="color:blue">--:--:--</span></p>
                        </div>
                    </div>
                </div>

                <br />
                <div id='my_file_output'></div>
            </div>
        </div>

    </div>

    <script src="~/Scripts/util/SAF_MantenerSessionActiva.js"></script>
    <script src="~/Scripts/util/SAF_ImportacionMasiva.js"></script>
    <link href="~/Content/importacionExcel.css" rel="stylesheet" />

   


