@*@model IEnumerable<CBX_Web_PetShopWeb.wsOrganizacion.Cargo>*@

@{
    ViewBag.Title = "RenombrasCampos";
}

@*<button id="btn-prueba" >Boton de Prueba </button >*@
<div class="row">
    <!--INICIO PANEL-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">&nbsp;</label>
                <input type="text" class="form-control" id="filtroInputRenombre" placeholder="Buscar por Campo o Renombre">
            </div>

            @*<div class="col-md-2 col-sm-2 col-xs-12">
                <label style="text-align: right !important;" class="control-label">Dependencia</label>
                <select class="form-control" id="cboDepenCargo">
                    <option value="0" selected>Todos</option>
                </select>
            </div>*@

            @*<div class="col-md-2 col-sm-2 col-xs-12">
                <label style="text-align:right !important;" class="control-label">Estado</label>
                <select class="form-control" id="filActiCargo">
                    <option value="2" selected>Todos</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>*@

        </div>
    </div>
</div>

<!-- PANEL DE MENUS -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb">
            <a class="breadcrumb__step breadcrumb__step--active" href="#" id="PadreMenu_txt">Organización</a>
            <a class="breadcrumb__step" href="#" id="HijoMenu_txt">Cargo</a>
        </div>
    </div>
</div>

<div class="row">
    <!-- PANEL TABLA -->
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Listado de Campos Renombrables</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <input type="button" id="btn-editar-todos" onclick="cargarCampoRenombrarTodos()" class="btn btn-primary" value="Editar Todos">
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="tablacargo2">

                <table id="tablaRenombrarCampos" class="table table-striped table-bordered table-responsive nowrap" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th style="display:none;">CODIGO</th>
                            <th>CAMPO</th>
                            <th>RENOMBRE</th>
                            <th>ACCIÓN</th>

                            @*<th>cptActivo      </th>
                            <th>cptDescripcion </th>
                            <th>cptLocal       </th>
                            <th>cptArea        </th>
                            <th>cptOficina     </th>
                            <th>cptAnterior    </th>
                            <th>cptResponsable </th>
                            <th>cptEstado      </th>
                            <th>cptMarca       </th>
                            <th>cptModelo      </th>
                            <th>cptTipo        </th>
                            <th>cptColor       </th>
                            <th>cptSerie       </th>
                            <th>cptNumMotor    </th>
                            <th>cptNumChasis   </th>
                            <th>cptAnio        </th>
                            <th>cptDimension   </th>
                            <th>cptPlaca       </th>
                            <th>cptObservacion </th>
                            <th>Acción</th>*@

                      </tr>
                    </thead>
                    <tbody id="tablaBodyCargo"></tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- SEGUNDO PANEL PARA EDITAR -->
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="form-hide-campos-renombrables" hidden>

            <div class="x_panel">
                <div class="x_title">
                    <h2>Renombrar Campos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <input type="button" id="btn-guardar-campos-renombrados" class="btn btn-primary" value="Guardar">
                            <input type="button" id="btn-update-cargo" class="btn btn-success" value="Actualizar" hidden>
                        </li>
                        <li>
                            <input type="button" id="btn-cancel-campos" class="btn btn-dark" value="Cancelar">
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>                


                <div class="x_content">
                    
                    <form class="form-horizontal form-label-left">
                        
                        <div class="row" >

                            <!-- RENOMBRAR POR UNIDAD -->
                            <div class="col-md-6 col-sm-6 col-xs-6 unidad">
                                <div class="form-group">
                                    <label @*style="color:blue;"*@ id="lbl_renombrar_unidad"></label>
                                    <input id="txt_renombrar_unidad" type="text" class="form-control" placeholder="" maxlength="20">
                                </div>
                            </div>

                            <!-- RENOMBRAR TODOS LOS CAMPOS -->
                            <!-- 01 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptActivo">
                                    <label id = "lbl_cptActivo"></label>
                                    <input id="txt_cptActivo" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 02 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptDescripcion">
                                    <label id = "lbl_cptDescripcion"></label><input id="txt_cptDescripcion" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 03 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptLocal">
                                    <label  id = "lbl_cptLocal"></label><input id="txt_cptLocal" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 04 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptArea">
                                    <label id = "lbl_cptArea"></label><input id="txt_cptArea" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 05 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptOficina">
                                    <label id = "lbl_cptOficina"></label><input id="txt_cptOficina" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 06 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptAnterior">
                                    <label id = "lbl_cptAnterior"></label>
                                    <input id="txt_cptAnterior" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 07 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptResponsable">
                                    <label id = "lbl_cptEmpleado"></label>
                                    <input id="txt_cptEmpleado" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 08 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptEstado">
                                    <label id = "lbl_cptEstado"></label>
                                    <input id="txt_cptEstado" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                            <!-- 09 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptMarca">
                                    <label id = "lbl_cptMarca"></label>
                                    <input id="txt_cptMarca" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 10 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id = "cptModelo">
                                    <label id = "lbl_cptModelo"></label>
                                    <input id="txt_cptModelo" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 11 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptTipo">
                                    <label id = "lbl_cptTipo"></label>
                                    <input id="txt_cptTipo" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 12 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptColor">
                                    <label id = "lbl_cptColor"></label>
                                    <input id="txt_cptColor" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 13 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptSerie">
                                    <label  id = "lbl_cptSerie"></label>
                                    <input id="txt_cptSerie" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 14 -->
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group" id="cptNumMotor">
                                    <label id = "lbl_cptNumMotor"></label>
                                    <input id="txt_cptNumMotor" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 15 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptNumChasis">
                                    <label id = "lbl_cptNumChasis"></label>
                                    <input id="txt_cptNumChasis" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 16 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptAnio">
                                    <label id = "lbl_cptAnio"></label>
                                    <input id="txt_cptAnio" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 17 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptDimension">
                                    <label id = "lbl_cptDimension"></label>
                                    <input id="txt_cptDimension" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 18 -->
                            <div class="col-md-6 col-sm-6 col-xs-6" >
                                <div class="form-group" id="cptPlaca">
                                    <label id = "lbl_cptPlaca"></label>
                                    <input id="txt_cptPlaca" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!-- 19 -->
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group" id="cptObservacion">
                                    <label id = "lbl_cptObservacion"></label>
                                    <input id="txt_cptObservacion" type="text" class="form-control" placeholder="">
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
                

            </div>

        </div>
    </div>

</div>



<script>
    $(document).ready(function () {
        TablaRenombrarCampos();

       //ActualizacionAutomatica de la tabla
       //setInterval('TablaCargos()', 5000);

        //VALIDAR LONGITUD DE CARACTERES EN LOS CONTROLES INPUT
        $.post(
            '/Personal/MaestroMaximoCaracteres', 
            { StrNomMan: 'TSCONCEPTO' },
            (response) => {
                response.forEach(element => {

                    if (element.NombreColumna === 'cptActivo')//------------------------> 01
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptActivo"></label><input id= "txt_cptActivo" type= "text" class="form-control" placeholder= ""   maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptDescripcion')//--------------> 02
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptDescripcion"></label><input id="txt_cptDescripcion" type="text" class="form-control" placeholder=""  maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptLocal')//--------------------> 03
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label  id = "lbl_cptLocal"></label><input id="txt_cptLocal" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptArea')//---------------------> 04
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append(' <label id = "lbl_cptArea"></label><input id="txt_cptArea" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptOficina')//------------------> 05
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptOficina"></label><input id="txt_cptOficina" type="text" class="form-control" placeholder=""  maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptAnterior')//--------------> 06
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptAnterior"></label><input id="txt_cptAnterior" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptResponsable')//--------------> 07
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptEmpleado"></label><input id="txt_cptEmpleado" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptEstado')//--------------> 08
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptEstado"></label><input id="txt_cptEstado" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptMarca')//-------------->09
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptMarca"></label><input id="txt_cptMarca" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptModelo')//-------------->10
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptModelo"></label><input id="txt_cptModelo" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptTipo')//-------------->11
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptTipo"></label><input id="txt_cptTipo" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptColor')//-------------->12
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptColor"></label><input id="txt_cptColor" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptSerie')//-------------->13
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label  id = "lbl_cptSerie"></label><input id="txt_cptSerie" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptNumMotor')//-------------->14
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptNumMotor"></label><input id="txt_cptNumMotor" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptNumChasis')//-------------->15
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptNumChasis"></label><input id="txt_cptNumChasis" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptAnio')//-------------->16
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptAnio"></label><input id="txt_cptAnio" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptDimension')//-------------->17
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptDimension"></label><input id="txt_cptDimension" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptPlaca')//-------------->18
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptPlaca"></label><input id="txt_cptPlaca" type="text" class="form-control" placeholder=""    maxlength="' + element.intNumero + '"  >');
                    }
                    else if (element.NombreColumna === 'cptObservacion')//-------------->19
                    {
                        $('#' + element.NombreColumna + '').empty();
                        $('#' + element.NombreColumna + '').append('<label id = "lbl_cptObservacion"></label><input id= "txt_cptObservacion" type= "text" class="form-control" placeholder= ""   maxlength="' + element.intNumero + '"   >');
                    }

                });

            });

      
    });
</script>

<script src="~/Scripts/util/SAF_RenombrarCampos.js"></script>

