<!-------------------------------------------------------------------------------------------------------
    ANOTACIONES PRLIMINARES:
    Este html es reutilizado desde ReportesComedor para ReportesExcel
--------------------------------------------------------------------------------------------------------->


@{
    ViewBag.Title = "ReportesExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<button id="" onclick="GenerarListasExcel()">Generar Archivos Excel</button>*@


<style type="text/css">
    .swal2-container {
        z-index: 2000;
    }
</style>
<!--==============================================================================
                               MODAL LISTAR TIPOS
==================================================================================-->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="x_title">
                <h1>Limpiar Tablas</h1>

                <ul class="nav navbar-right panel_toolbox">
                   
                    <li >
                        <input type="button" data-toggle="modal" href="#myModal2" class="btn btn-primary" onclick="LimpiarTablas()" value="LIMPIAR">
                    </li>
                    <li >
                        <input type="button" href="#" data-dismiss="modal" class="btn btn-dark" value="CERRAR" id="cerrar_modal">
                    </li>
                </ul>
                <label class="form-check-label" style="color: red;">(*) Al limpiar una tabla con dependencias, estas también se seleccionarán.</label>

                <div class="clearfix"></div>
            </div>
            <div class="modal-body">


                <div role="tabpanel" id="" class="tab-pane active">
                    <div class="p-2">

                        <div class="mb-3">
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" id="chck_btodos" class="flatpadre iradio_flat-blue">
                                <label class="form-check-label">Seleccionar Todos</label>
                            </div>
                        </div>
                   

                        <div >
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkEntidad">
                                <label class="form-check-label">Entidad</label>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkLocal">
                                <label class="form-check-label">Local</label>
                            </div>
                        </div>
                        <div >
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkArea">
                                <label class="form-check-label">Area</label>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">&nbsp;</label>
                            <div class="form-check">
                                <input type="checkbox" class="flathijo iradio_flat-blue" id="checkOficina">
                                <label class="form-check-label">Oficina</label>
                            </div>
                        </div>

                        <div class="mt-4 d-flex flex-wrap">

                            <div>
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkEmpleado">
                                    <label class="form-check-label">Empleado</label>
                                </div>
                            </div>
                            <div >
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkEstado">
                                    <label class="form-check-label">Estado</label>
                                </div>
                            </div>
                            <div >
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkTipo">
                                    <label class="form-check-label">Tipo</label>
                                </div>
                            </div>
                            <div >
                                <label class="control-label">&nbsp;</label>
                                <div class="form-check">
                                    <input type="checkbox" class="flathijo iradio_flat-blue" id="checkBienes">
                                    <label class="form-check-label">Bienes</label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
   
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="row">
            <div class="x_panel">
      
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Tipo de Reporte</label>
                    <select class="form-control" id="cbo-tipo-reporte">
                        <option value="0">Seleccione</option>
                        <option class="optionGroup" value="1">Reporte de TBBIENES</option>
                        <option class="optionGroup" value="2">Reporte de TBBIENESDS</option>
                        <option class="optionGroup" value="3">Reporte de TBOFICINA</option>
                        <option class="optionGroup" value="4">Reporte de TBEMPLEADO</option>                       
                    </select>
                </div>
            

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <label class="control-label">&nbsp;</label>
                        <button type="button" class="btn btn-primary full-width" @*style="width:130%;"*@ id="btn-Generar-CRYSTAL-Report-Saf">GENERAR</button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <label class="control-label">&nbsp;</label>
                        <button type="button" class="btn btn-danger full-width" @*style="width:130%;"*@ id="btn-Generar-PDF-Report-Saf">PDF</button> 
                    </div>
                @*<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">&nbsp;&nbsp;&nbsp;</label>
                   
                </div>*@


                @*<div class=" checkbox" style="">

               
                    <label class="control-label">&nbsp;</label><br />
                        <div class="icheckbox_flat-blue" style="position: relative;">

                        <input type="checkbox" class="flat" id="chk_envio_de_coreo1" />
                        </div>
                    &nbsp;Formato Archivo de Texto

                   
                </div>*@


                @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 "  >
                    <label class="control-label">&nbsp;</label><br />
                    <input type="checkbox" class="iradio_flat-blue" id="checkLimpiarCargar" >
                    Formato Archivo de Texto
                </div>*@

                @*<div class="icheck-material-blue">
                    <input type="checkbox" id="checkall1_M00_2" class="flatPadre" validationpass_u="todosuncheck">
                    <label for="checkall1_M00_2">Formato Archivo de Texto</label>
                </div>*@



            

                </div>


            @*<div class="col-md-2 col-sm-2 col-xs-12">
                <label class="control-label">Responsable</label>
                <select class="form-control" id="cbo_responsable"><option value="0">Todos</option><option value="1">ABDALA CARRILLO MARIA PAZ</option><option value="2">AGUILAR HUANCA GIANELA EUGENIA</option><option value="3">ALATRISTA OBLITAS GRACIELA IVONNE</option><option value="4">ALLER ROJAS CLAUDIA MELISSA</option><option value="5">ARCE SARDON RODRIGO ISAIAS</option><option value="6">ARNAIZ FIGALLO MARIA ROSSANA</option><option value="7">ARQUE FLOREZ RENE</option><option value="8">ARROYO HUAMAN JOSE ROBERTO</option><option value="9">ARROYO LOAYZA PEDRO PABLO</option><option value="10">AVALOS CARRILLO ERICK ALBERTO</option><option value="11">BARRANTES CACHI CINDY MELISSA</option><option value="12">BASOMBRIO MURO MARIA FERNANDA</option><option value="13">BECERRA ABUSADA MARIANA</option><option value="14">BEDOYA ALESSI JONATHAN ARTURO</option><option value="15">BELLIDO CALISTO PAULA</option><option value="16">BOZZO KROLL FATIMA</option><option value="17">BRACAMONTE ARANDA LUIS GUSTAVO</option><option value="18">CABRERA BASURCO ANA LUCIA</option><option value="19">CABRERA LUNA SARA BELEN</option><option value="20">CACERES SINCHI HENRY LUIS</option><option value="21">CALLE QUIROS JUAN JOSE FELIPE</option><option value="22">CAMACHO GUERRERO SIRO NOLBERTO</option><option value="23">CAMARGO CHAMORRO VICTOR RAUL</option><option value="24">CAMPOS AGUILAR GABRIEL RENATO</option><option value="25">CANO QUINCHO JAIME EDUARDO</option><option value="26">CANRE RODAS AGUSTIN EDGAR</option><option value="27">CAPPELLETTI AREVALO ANGELLA CAROLINA</option><option value="28">CARDENAS BOLIVAR ARTURO</option><option value="29">CARDENAS PUCURIMAY MIGUEL ANGEL</option><option value="30">CARPIO RODRIGUEZ EDWIN LUIS</option><option value="31">CARRASCO ALEMAN OSCAR EFRAIN</option><option value="32">CARRERA FREIRE ANAHI</option><option value="33">CASO POLO PERLA JIMENA</option><option value="34">CASTAÑON POLANCO ARMANDO FRANCISCO</option><option value="35">CASTILLO ESTRADA GIOMAR ANTONIO</option><option value="36">CASTILLO VASQUEZ HENRY HARVIS</option><option value="37">CERNA TIRADO CARLOS DANIEL</option><option value="38">CHAPARRO AYLAS MARYORIE NATHALIE</option><option value="39">CHAVARRY PINTO ERIKA CRISTINA</option><option value="40">CHIPANA PEREZ GLORIA</option><option value="41">CHUKUONG BENITES MEYLIN</option><option value="42">COAGUILA GARCIA YSRAEL ORLANDO</option><option value="43">CORDERO MEDINA JULIO CESAR</option><option value="44">CORDOVA JIMENEZ ELMER</option><option value="45">CORREA ANICAMA JULIO CESAR</option><option value="46">CRUZ MANRIQUE RUBY ALFREDO</option><option value="47">CUMPA TAVARA MARITZA YSABEL</option><option value="48">DE LA FUENTE HIDALGO CECILIA CAROLINA</option><option value="49">DE LA TORRE UGARTE FLORES CYNTHIA LEONOR</option><option value="50">DELGADILLO YUPANQUI VALERIA NORMA</option><option value="51">DIAZ MEDINA DIEGO JESUS</option><option value="52">DIAZ YRIGOYEN VALERIA</option><option value="53">DIONICIO NORABUENA JORGE ANTONIO</option><option value="54">DIOSIS QUIJANDRIA GUSTAVO ELODIO</option><option value="55">DONAYRE GONZALES DIANA CAROLINA</option><option value="56">ECHEGARAY PICHARDO LUIS ENRIQUE</option><option value="57">ECHEVARRIA ARELLANO JUAN MANUEL</option><option value="58">ENRIQUEZ ABANTO CARLO ANDRE</option><option value="59">ENRIQUEZ AVALOS CARLOS PORFIRIO</option><option value="60">ESCOBAR CAPARO MIGUEL ANGEL</option><option value="61">ESPEJO ACHA LORENA</option><option value="62">ESTELA MELCHOR MILAGROS ELIZABETH</option><option value="63">FERRARO AIRALDI BRUNO DANIEL</option><option value="64">FIESTAS LOPEZ-GUIDO RENATO MAURICIO</option><option value="65">FLORES JIMENEZ VICTOR ANDRE</option><option value="66">FLORES TELLO PEDRO RAUL</option><option value="67">FRANCISCO GRADOS GINO IVAN</option><option value="68">GALDOS VERA JOSE LUIS</option><option value="69">GALLO ALVAREZ JOSE PABLO</option><option value="70">GAMBINI BRICEÑO MARIELLA MILDRED</option><option value="71">GAMBOA CASTRO COOPER NILTON</option><option value="72">GARCIA BEBEK CAROLINA DEL ROSARIO</option><option value="73">GARCIA HOYOS IVAN GONZALO</option><option value="74">GARCIA TAMARA SUSAN PAMELA</option><option value="75">GIANNUZZI SEMINARIO ROMINA STEFANIA</option><option value="76">GODOY CRISPIN JOHNNY DANIEL</option><option value="77">GONZALEZ LOPEZ BRUCE GUSTAVO</option><option value="78">GUTIERREZ HUAMANI MARIA DEL ROSARIO</option><option value="79">HIDALGO COSSIO OMAR BERNARDO</option><option value="80">HINOSTROZA RIVERA OMAR CLAUDIO</option><option value="81">HORNA SALDIVAR JOSE CARLO</option><option value="82">HUAMAN VIGIL OMAR ALEXANDER</option><option value="83">HUAMANI BOTELLO HUGO FELIX</option><option value="84">HUARICANCHA CRISTOBAL GREIMM ROYER</option><option value="85">HURTADO ALFARO NELSON</option><option value="86">HURTADO CORTES RAISSA NEHISLA</option><option value="87">IMAÑA CERVERA CARLA VANESSA</option><option value="88">INDACOCHEA SUGOBONO ALVARO</option><option value="89">IPARRAGUIRRE PAU YEISSON FELIX</option><option value="90">JARAMILLO ARICA JULIO CESAR</option><option value="91">JARAMILLO LOPEZ ANA VALERIA</option><option value="92">JOY BRAVO ALEXIS</option><option value="93">JUSTO SILVA ORLANDO BAILETTI</option><option value="94">LA TORRE CASTAÑEDA JESÚS ABRAHAM</option><option value="95">LAMBRUSCHINI BEZOLD ENRIQUE MIGUEL</option><option value="96">LARREA ESPINOZA JORGE JESUS</option><option value="97">LEON BURGOS PAOLO ARMANDO</option><option value="98">LOPEZ ALCANTARA ROLANDO BENJAMIN</option><option value="99">LOPEZ DIAZ RICARDO DAVID</option><option value="100">MACHUCA VILCHEZ JOSE SANTOS</option><option value="101">MADICO MAGNANI MARIO ENRIQUE</option><option value="102">MARTINEZ BRAVO VICTOR MOISES</option><option value="103">MENDEZ CASTILLA GLORIA PATRICIA</option><option value="104">MENDOZA NOLORBE JORGE OMAR</option><option value="105">MEZA SAENZ ANTONELLA CHIARA</option><option value="106">MIRANDA RIVASPLATA JOANNA ELENA</option><option value="107">MONTENEGRO MANTILLA RAUL RODRIGO EMMANUE</option><option value="108">MONTOYA LLERENA JUAN MANUEL</option><option value="109">MORALES GUILLEN ROSARIO MERCEDEZ DEL PIL</option><option value="110">NACARINO GONZALEZ JAVIER ROBERTO</option><option value="111">NEUMANN MARIATEGUI PAMELA MARIA</option><option value="112">NEVES LEZAMETA FIORELLA DEL CARMEN</option><option value="113">NEYRA CONTRERAS NATALIA BRIGITTE</option><option value="114">OCHANTE MARTINEZ MARCO ANTONIO</option><option value="115">OLAVIDE DEL RIO MARIA PAZ</option><option value="116">OLIVARES RAMON RONALD ANDRES</option><option value="117">OLIVER MILLA SEBASTIAN</option><option value="118">PALACIOS TEVES ROSA ELIZABETH</option><option value="119">PALOMINO LEVANO JOSE LEONARDO</option><option value="120">PALOMINO VARGAS JORGE ALFREDO</option><option value="121">PAREDES CUEVA ALEXANDER</option><option value="122">PAUCAR HUAPAYA MANUEL ALEJANDRO</option><option value="123">PAYET SOTO MICAELA</option><option value="124">PEÑA SAGUEO CARLOS ALBERTO</option><option value="125">PERALTA SANCHEZ ROBERT JAIR</option><option value="126">PEREYRA OCHOA MARIANA TERESA</option><option value="127">PEREZ DE LA CRUZ OSCAR MIGUEL</option><option value="128">PINEDO CALDAS ALEX ENRIQUE</option><option value="129">POLAR CALMET MARCELA</option><option value="130">POLO ALIAGA JUAN MANUEL</option><option value="131">PORTOCARRERO GARCIA IVAN ENRIQUE</option><option value="132">PRECIADO ATOCHE PABLO CESAR</option><option value="133">QUINTEROS CRUZ ANDREA SOFIA</option><option value="134">QUIÑONES GARCIA ROSELL MARIA LOURDES</option><option value="135">QUIÑONES SORIA SONIA SUSANA</option><option value="136">QUISPE CRUZ CARLOS AUGUSTO</option><option value="137">RAMOS GUTIERREZ JAZMINA IVETTE</option><option value="138">REQUE CHEVEZ EDGAR JOEL</option><option value="139">REYES CARRILLO MARIEL</option><option value="140">REYES CASTRAT MARIA CLAUDIA</option><option value="141">RIOS SUYO RAUL NILTON</option><option value="142">RIVAS CUEVA DIEGO ARMANDO</option><option value="143">RIVAS PUMASONCCO JUAN JOSE</option><option value="144">RIVERA SUAREZ RAUL BENUA</option><option value="145">RODRIGO GRAÑA CAMILA</option><option value="146">RODRIGUEZ CAJAS JUANA</option><option value="147">RODRIGUEZ CRISPIN LESLIE ALLISON</option><option value="148">RODRIGUEZ RONCAL ROSA CATHERINE</option><option value="149">ROJAS BADOINO RONALD CHRISTIAN</option><option value="150">ROJAS CANO ELEAZAR RAUL</option><option value="151">ROJAS GUISAZOLA JHAZMINE FIORELLA</option><option value="152">ROJAS VALLE GIUSEPPE GUILIANO</option><option value="153">ROSPIGLIOSI LETURIA FIORELLA MARIA ISABE</option><option value="154">RUIZ CORAL ROLLY</option><option value="155">SAEZ CONDOR GUIDO LEONEL</option><option value="156">SALAZAR CACERES LISETT PATRICIA</option><option value="157">SALDAÑA BALVIN LUIS RICARDO</option><option value="158">SALDARRIAGA TORRES GISELE DELIA</option><option value="159">SANCHEZ ESTRADA JEFREY JUNIOR</option><option value="160">SANDOVAL MUÑOZ JOSE CARLOS</option><option value="161">SCAVIA AURICH JUAN HECTOR</option><option value="162">SCERPELLA CRESPO ALEJANDRA</option><option value="163">SERPA TERRAZOS ROSA ISABEL</option><option value="164">SICLLA ZAPATA MELISSA CECILIA</option><option value="165">SIERRALTA ESPINOZA GELSIND RHUDI</option><option value="166">SILVA LOPEZ VIVIANA MILAGROS</option><option value="167">SIMON FERNANDEZ SANDRA MARGOTH</option><option value="168">SOLER REVATTA GIOVANNY JOSE</option><option value="169">SORIA SUAREZ TEDDY GHITIS</option><option value="170">SUELDO HUERTA JAIME MARTIN</option><option value="171">TABOADA VILLANUEVA JAVIER FERNANDO</option><option value="172">TELLO URDAY FLOR CHARLOTTE</option><option value="173">TERRONES COTRINA GIOVANNA MARIBEL</option><option value="174">THOL GUZMAN RICHARD JAVIER</option><option value="175">TOCAS CUEVA MIGUEL ANGEL</option><option value="176">TORI VARGAS BEATRIZ MARIA</option><option value="177">TORRE ROMAN RAFAEL ALEJANDRO</option><option value="178">TORRES CRUZ JUAN ALBERTO</option><option value="179">TORRES GARAZATUA JUAN FRANCISCO JUNIOR</option><option value="180">TORRES ROJAS EDINSON</option><option value="181">TORRES VALDIVIA MARIELA ANGIELINA</option><option value="182">TRELLES VALLE RIESTRA PABLO</option><option value="183">TRISANO ONTANEDA ROXANA PATRICIA</option><option value="184">URDANIVIA SANCHEZ NATHALÍ SOFÍA</option><option value="185">VALDERRAMA BARDALEZ AURELIO JESUS</option><option value="186">VALDIVIA VERDE DAVID RUSBEL</option><option value="187">VALLADARES VILELA JOHN PAUL</option><option value="188">VARGAS ROMERO BIANCA JOYCE</option><option value="189">VARILLAS EDUARDO GERMAN ALBERTO</option><option value="190">VARON ORBEGOSO VANNIA</option><option value="191">VASQUEZ MENDOZA NELLY EVA</option><option value="192">VASQUEZ QUISPE KATHERINE MILAGROS</option><option value="193">VATTUONE NALVARTE ENZO ANTONIO</option><option value="194">VELASQUEZ ACOSTA WALTER JOAQUIN</option><option value="195">VELASQUEZ ALEJOS MANUEL VICTOR</option><option value="196">VELASQUEZ TUPALAYA DIONICIO</option><option value="197">VIGIL CASTILLO RENATO</option><option value="198">VILLAR AGURTO JOSE SEGUNDO</option><option value="199">VALDIVIA PATRICIO</option><option value="200">Jose</option></select>
            </div>*@




        </div>
    </div>
</div>

<!-- PANEL DE MENUS -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb">
            <a class="breadcrumb__step breadcrumb__step--active" href="#" id="PadreMenu_txt">Proceso</a>
            <a class="breadcrumb__step" href="#" id="HijoMenu_txt"></a>
        </div>
    </div>
</div>

<div class="row">
    <!-- PANEL TABLA -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">     
                @*<div class="row">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row">
      <div class="col-8 col-sm-6">
        Level 2: .col-8 .col-sm-6
      </div>
      <div class="col-4 col-sm-6">
        Level 2: .col-4 .col-sm-6
      </div>
    </div>
  </div>
</div>*@
                @*<div class="row justify-content-md-center">

                    <div class="col-12 col-md-8" >
                        <h2 id="txt_titulo_tabla" >Datos Exportados</h2>
                    </div>
                        
                    <div class="col-6 col-md-4" style="z-index:1000">
                        <div >
                            <input type="button" id="btn-exportar-archivos_excel" class="btn btn-success" 
                                   value="Generar Archivos Excel" onclick="GenerarListasExcel()"
                                   style="width:180px; margin-left: 100px; margin-top: 5px;">

                        </div>
                    </div>



                </div>

          

                <div class="row">

                    
                        <div class="checkbox"   style="top: -60px; margin-left: -10px;">

                            <label>

                                <input type="checkbox" class="flat" id="chk_envio_de_coreo"
                                       style="border: 1px; border-color:#2A3F54;margin-right: 100px; ">
                                Generar envío de correo

                            </label>
                        </div>
                                

                </div>*@



                <!-- TITULO -->
                @*<div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-8">

                        <div class="col-12 col-md-8">
                            <h2 id="txt_titulo_tabla">Datos Exportados</h2>
                        </div>

                        <label>

                            <input type="checkbox" class="flat" id="chk_envio_de_coreo"
                                   style="border: 1px; border-color:#2A3F54;margin-right: 100px; ">
                            Generar envío de correo

                        </label>
                    </div>

                    <div class="col-xs-6 col-md-4">

                        
                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <input type="button" id="btn-exportar-archivos_excel" class="btn btn-success" value="Generar Archivos Excel" onclick="GenerarListasExcel()"
                                       style="width:180px; margin-left: 100px; margin-top: 5px;">
                            </div>
                       
                    </div>

                </div>

                 <div class="col-lg-6 col-md-3 col-sm-6 ">
                    

                    <div class="checkbox">
                        
                        <label>

                            <input type="checkbox" class="flat" id="chk_envio_de_coreo"
                                   style="border: 1px; border-color:#2A3F54;margin-right: 100px; "> 
                            Generar envío de correo
        
                        </label>
                    </div>

                </div>
                
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12" hidden>
                    <button type="button" class="btn btn-round btn-block dropdown-toggle" id="columnHida" data-toggle="dropdown" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    Columnas

                </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                    <input type="button" id="btn-exportar-archivos_excel" class="btn btn-success" value="Generar Archivos Excel" onclick="GenerarListasExcel()" 
                           style="width:180px; margin-left: 100px;margin-top: 5px;" >
                </div>
            
                <div class="col-lg-3 col-md-6 col-xs-6" >

                        <div class="checkbox">
                            <label>
                                
                                <input type="checkbox" class="flat" id="chk_envio_de_coreo"
                                       style="border: 1px; border-color:#2A3F54;margin-right: 100px; "> Generar envío de correo                               
                            
                            </label>
                        </div>
                 
                </div>*@

                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-12 col-md-8">
                            <h2 id="txt_titulo_tabla">Datos Exportados</h2>
                        </div>
                    </div>
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-4">
                        <div>
                            <input type="button" id="btn-exportar-archivos_excel" class="btn btn-success"
                                   value="Generar Archivos Excel" onclick="GenerarListasExcel()"
                                   style="width:180px; margin-left: 100px; margin-top: 5px;">
                        </div>
                    </div>
                </div>



                <div class="row">

                    <div class="col-sm-4">                             
                        <label>
                            <input type="checkbox" class="flat" id="chk_envio_de_coreo"
                                   style="border: 1px; border-color:#2A3F54;left: 100px; ">
                            Generar envío de correo
                        </label> 
                    </div>

                    <div class="col-sm-4"> </div>

                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary full-width esconder-botones"
                                style="width:180px; margin-left: 100px; margin-top: 5px;"
                                onclick="GetListasDeCadaTablaTxt()" >
                            Formato Archivo de Texto
                        </button>
                    </div>

                </div>



                <div class="clearfix"></div>
            </div>




            <!--Area para mostrar los Excels que se esta Guardando-->
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="progress">
                            <div id="progresLoader" class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea id="message" style="min-height:250px;" class="form-control" name="message"></textarea>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center text-success flex-error" style="height: 150px">
                        <i class="fa fa-file-excel-o" aria-hidden="true" style="font-size: 10em;"></i>
                    </div>
                    @*<div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center text-success flex-error">
                            <input type="button" id="btn-Generar-Todos-Los-Excel-Saf" class="btn btn-success"
                                   value="´BOTON DE PRUEBA EXCEL" onclick=""
                                   style="width:180px; margin-right: 100px; ">
                        </div>
                    </div>*@


                </div>

                <br />

                <div class="row">
                    <div>
                        <div class="col-md-2 col-sm-2 col-xs-12" style="z-index:1000; margin-top:5px;"  >
                            <p>Datos Exportados: <span id="num-excels-generados" style="color:blue; ">--/--</span></p>
                        </div>
                    </div>
                    <div  style="z-index:1000 ">
                        <div style="   float:right; ">
                            <input type="button" id="btn-Generar-Todos-Los-Excel-Saf" class="btn btn-success"
                                   value="Generar Excel con Data SQL" onclick="GenerarListasExcelConDataSQL()"
                                   style="width:180px; margin-right: 100px; ">
                        </div>
                    </div>
                </div>

                <div class="row" style="text-align:right;">
                    <div style="text-align:left;" class="col-md-6 col-sm-6 col-xs-6">
                        <p> Tiempo Transcurrido: <span id="tiempo" style="color:blue">--:--:--</span></p>
                    </div>
                </div>



            </div>

            <br />
            <div id='my_file_output'></div>
        </div>
    </div>
</div>


<!-- DESCARGAR -->
<div hidden>
    <div class="col-md-12 col-sm-12 col-xs-12">
        Descargar los 8 Excels
        <a id="ID_TBBIENES"   style="color:blue" href="~/DirGenerarExcelConDataSQL/TBBIENES.xlsx" class="linky"><span></span></a>
        <a id="ID_TBEMPLEADO" style="color:blue" href="~/DirGenerarExcelConDataSQL/TBEMPLEADO.xlsx" class="linky"><span></span></a>
        <a id="ID_TBLOCAL"    style="color:blue" href="~/DirGenerarExcelConDataSQL/TBLOCAL.xlsx" class="linky"><span></span></a>
        <a id="ID_TBAREAS"    style="color:blue" href="~/DirGenerarExcelConDataSQL/TBAREAS.xlsx" class="linky"><span></span></a>
        <a id="ID_TBESTADO"   style="color:blue" href="~/DirGenerarExcelConDataSQL/TBESTADO.xlsx" class="linky"><span></span></a>
        <a id="ID_TBENTIDAD"  style="color:blue" href="~/DirGenerarExcelConDataSQL/TBENTIDAD.xlsx" class="linky"><span></span></a>
        @*<a id="test2" href="javascript:alert('test2')"><span>TEST2</span></a>*@
        <a id="ID_TBOFICINA" style="color:blue" href="~/DirGenerarExcelConDataSQL/TBOFICINA.xlsx" class="linky"><span></span></a>
        <a id="ID_TBTIPO" style="color:blue" href="~/DirGenerarExcelConDataSQL/TBTIPO.xlsx" class="linky"><span></span></a>
        @*<a style="color:blue" href="~/Plantillas/Importar Excel/TBLOCAL.xlsx" class="linky">TBLOCAL,</a>*@
    </div>
</div>



<!-- SCRIPT JS INDEPENDIENTE, SOLO PARA ESTE MANTENIMIENTO -->
<script src="~/Scripts/util/SAF_ExportarExcel.js"></script>
















<!--*************************************************************************************************+-->
<!--
<div class="row">  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="row x_title">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divUniOrg">
                    <label class="control-label">Unid Organizacional</label>
                    <select class="form-control" id="cboUniOrg">
                        <option value="0" selected>Seleccione</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divPlanilla">
                    <label class="control-label">Planilla</label>
                    <select class="form-control" id="cboPlanilla">
                        <option value="0" selected>Seleccione</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divCategoria">
                    <label class="control-label">Categoría</label>
                    <select class="form-control" id="cboCategoria">
                        <option value="0" selected>Seleccione</option>
                    </select>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3 col-xs-12 divGrupoLiq">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="GrupoLiqui" data-toggle="dropdown" aria-expanded="true" disabled>
                        Grupo de Liq
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-md-11 col-sm-11 col-xs-12" aria-labelledby="toggleOptions" role="menu" id="chekeameGruposLiquidacion" style="max-height: 200px;overflow-y: auto;margin-left: 9px;"></ul>
                </div>
                <div class="control-label col-lg-3 col-md-7 col-sm-7 col-xs-12" style="height:58px">
                    <div class="input-group">
                        <label class="control-label">&nbsp;</label>
                        <input type="text" class="form-control" placeholder="Fotocheck, Documento de Identidad, Nombres o Apellidos" id="filtroCalculo">
                        <span class="input-group-btn" style="vertical-align: bottom;">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 divFiscalizacion" hidden>
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="Periodo_Pago" data-toggle="dropdown" aria-expanded="true" disabled>
                        Fiscalización
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-md-11 col-sm-11 col-xs-12" aria-labelledby="toggleOptions" role="menu" id="chekeamePeriodos" style="max-height: 200px;overflow-y: auto;margin-left: 9px;"></ul>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 divCesados">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="chkCesado">
                        <label class="form-check-label" for="exampleCheck1">Solo Cesados</label>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3 col-xs-12 divEstadoActivo">
                    <label class="control-label">Estados</label>
                    <select class="form-control" id="cboEstadoActivo">
                        <option value="2">Todos</option>
                        <option value="0">Inactivo</option>
                        <option value="1" selected>Activo</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Tipo Reporte</label>
                    <select class="form-control" id="cboReporte">
                        <option value="0" selected>Seleccione</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 divFecha" style="height:58px" hidden>
                    <label class="control-label">Rango de Fechas</label>
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <div id="filtroFecha" class="form-control range-datepicker" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>January 01, 2019 - January 28, 2019</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 divMarcas" hidden>
                    <label class="control-label">&nbsp;</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="chkMarcas">
                        <label class="form-check-label con-costo-comedor" for="exampleCheck1" id="">Mostrar solo los que tiene marcas</label>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 divanio" hidden>
                    <label class="control-label">Año</label>
                    <input type="number" class="form-control" placeholder="Año" id="txtAnio" min="1900" max="2120">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divPeriodo" hidden>
                    <label class="control-label">Periodo</label>
                    <select class="form-control" id="cboPeriodo">
                        <option value="0" selected>Seleccione</option>
                    </select>
                </div>
              
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divConces" hidden>
                    <label class="control-label">Concesionaria</label>
                    <select class="form-control" id="cboConcesionaria">
                        <option value="0" selected>Seleccione</option>
                    </select>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 divTServ" style="height:58px" hidden>
                    <div class="form-group">
                        <label>Tipo de Servicio</label>
                        <select class="form-control" id="TipServicios"></select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 divTMen" style="height:58px" hidden>
                    <div class="form-group">
                        <label>Tipo de Menú</label>
                        <select class="form-control" id="TipMenus"></select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divMarcador" hidden>
                    <label class="control-label">Marcador</label>
                    <select class="form-control" id="cboMarcador">
                        <option value="0" selected>Seleccione Planilla</option>
                    </select>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 divCostos" hidden>
                    <label class="control-label">&nbsp;</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="chkCostos">
                        <label class="form-check-label" for="exampleCheck1">Mostrar el Costo</label>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 divGrafico" hidden>
                    <label class="control-label">Tipo de Récord</label>
                    <select class="form-control" id="cboGrafico">
                        <option value="0" selected>Seleccione</option>
                        <option value="1">Lista</option>
                        <option value="2">Gráfico</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 divConcepto" hidden>
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="Concepto" data-toggle="dropdown" aria-expanded="true" disabled>
                        Concepto
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-md-11 col-sm-11 col-xs-12" aria-labelledby="toggleOptions" role="menu" id="chekeameConcepto" style="max-height: 200px;overflow-y: auto;margin-left: 9px;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb">
            <a class="breadcrumb__step breadcrumb__step--active" href="#" id="PadreMenu_txt">Reportes</a>
            <a class="breadcrumb__step" href="#"><span id="txtNomReporte">Comedor</span></a>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <h2 style="width: 100%;">Listado de Empleados</h2>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12">

                </div>
                <div class="col-md-1 col-sm-1 col-xs-12">
                    <button type="button" class="btn btn-round btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Columnas
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-md-11 col-sm-11 col-xs-12" aria-labelledby="toggleOptions" role="menu" style="margin-left:9px;">
                        <li><label>&nbsp;&nbsp;<input id="3" type="checkbox" class="columnHide">&nbsp;Documento</label></li>
                        <li><label>&nbsp;&nbsp;<input id="5" type="checkbox" class="columnHide">&nbsp;Planilla</label></li>
                        <li><label>&nbsp;&nbsp;<input id="6" type="checkbox" class="columnHide">&nbsp;Unidad Organizacional</label></li>
                        <li><label>&nbsp;&nbsp;<input id="8" type="checkbox" class="columnHide">&nbsp;Grupo de Liquidación</label></li>
                        <li><label>&nbsp;&nbsp;<input id="9" type="checkbox" class="columnHide">&nbsp;Fecha Cese</label></li>
                    </ul>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12 divGenerar">
                    <button type="button" class="btn btn-primary full-width" id="cboGenerar" disabled>GENERAR</button>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-12 text-center">
                    <button type="button" class="btn btn-success full-width" id="btnExcel">EXCEL</button>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12 text-center">
                    <button type="button" class="btn btn-danger full-width" id="btnPdf">PDF</button>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="TablaReporte" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="icheckbox_flat-blue" id="All_Calcular" disabled /></th>
                                <th>Fotocheck</th>
                                <th>Apellidos Y Nombres</th>
                                <th>Documento</th>
                                <th>Código - Registro</th>
                                <th>Planilla</th>
                                <th>Unid. Organizacional</th>
                                <th>Fiscalización</th>
                                <th>Grupo Liquidación</th>
                                <th>Fecha Cese</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    Seleccionados <span id="seleccionados">0</span> Empleados
                </div>
            </div>

        </div>
    </div>
</div>
-->




@*<style>
    .optionGroup {
        font-weight: bold;
    }

    .optionChild {
        padding-left: 15px;
    }
</style>*@
