
@{
    ViewBag.Title = "ViewSpeechRecognition";
}

<h2>ViewSpeechRecognition</h2>
@*<link href="~/Content/ViewSpeechRecognition.css" rel="stylesheet" />*@


<header>
    <h1>Browser speech recognition</h1>
</header>
<main>
    <button id="button">Start listening</button>
    <div id="result"></div>

    @*<div class="wrapper">
        <input id="result" placeholder="Please Enter Text" type="text">
        <span class="underline"></span>
    </div>*@




    <p id="message" hidden aria-hidden="true">
        Your browser doesn't support Speech Recognition. Sorry.
    </p>



   
</main>

<input type="text" id="escribir"  style="border:none; font-size:60px;"/>


<footer>
    <p>Built with 🎙 by <a href="https://twitter.com/philnash">philnash</a></p>
</footer>
<script>
      // Your code goes here
</script>

<script type="text/javascript">

    window.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("button");
        const result = document.getElementById("result");
        const main = document.getElementsByTagName("main")[0];
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition
        if (typeof SpeechRecognition === "undefined") {
            button.remove();
            const message = document.getElementById("message");
            message.removeAttribute("hidden");
            message.setAttribute("aria-hidden", "false");
     
        }
        else {
            let listening = false;
            const recognition = new SpeechRecognition();
            const start = () => {
                recognition.start();
                button.textContent = "Stop listening";
                main.classList.add("speaking");
            };
            const stop = () => {
                recognition.stop();
                button.textContent = "Start listening";
                main.classList.remove("speaking");
            };
            const onResult = event => {
                result.innerHTML = "";
                for (const res of event.results) {
                    const text = document.createTextNode(res[0].transcript);
                    const p = document.createElement("p");
                    if (res.isFinal) {
                        p.classList.add("final");
                    }
                    p.appendChild(text);
                    result.appendChild(p);


                    var empt = $('.final').text();
                    if (empt == null || empt == "") {
                        //alert("Please input a Value");
                        //return false;
                    }
                    else {
                        cogerTexto();

                        //return true;
                    }

            
                }
      
            };
            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.addEventListener("result", onResult);
            
            button.addEventListener("click", () => {
                listening ? stop() : start();
                listening = !listening;
                
            });


        }
    });


    //https://stackoverflow.com/questions/4305931/jquery-finding-the-first-p

    function cogerTexto() {

    //var content =  $('#result').find("p:first").text();
    var content = $('.final').text();
    setTimeout(function () {
        //alert(content);
        $('#escribir').val(content);
    }, 100);
    $('#button').click();
    $('#result').empty();
    }
</script>
